<%- include('./layout/header'); -%>
  <main>
    <div class="container">
      <%- include('./layout/messages');%>

      <div class="card" id="signup">
        <article class="card-body mx-auto">
          <h3 class="card-title mt-3 text-center">Login</h3>

          <form action="/login" autocomplete="off" method="POST">

            <div class="form-group input-group">
              <input name="username" class="form-control" placeholder="Username" type="text">
            </div>

            <div class="form-group input-group">
              <input class="form-control" name="password" placeholder="Password" type="password"
                autocomplete="new-password">
            </div> 

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="rememberme" name="remember" value="1">
              <label class="form-check-label" for="rememberme">Remember me</label>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Login </button>
            </div>

            <p class="text-center">
              <a class="btn btn-block btn-secondary" href="/register">Register</a>
            </p>
          </form>
        </article>
      </div>

    </div>
  </main>
  <%- include('./layout/footer'); -%>